.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}

.inner_place{
    display: flex;
    justify-content: center;
}

.inner_place__button{
    background-color: burlywood;
    border-radius: 10px;
    font-size: 23px;
    color: brown;
    margin: 0px 5px;
}

.inner_place__button:hover{
    filter:grayscale(3);
}

.inner_place__button___go1{
    background-color:blue;
    border-radius: 5px;
    font-size: 23px;
    color:aliceblue;
}

.inner_place__button___go1:hover{
    filter:grayscale(3);
}

.option{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

