*{
    max-width: 1200px;
    padding: 0px auto;
    margin: 0px auto;
}

:root{
    padding: 0px auto;
    margin: 0px auto;
}

p.chakTetle {
    position: absolute;
    top: 600px;
    left: 250px;
    color: black;
    font-family: fantasy;
    font-size: 36px;
    letter-spacing: 3px;
    max-width: 700px;
    max-height: 200px;
    text-align: center;
}

img {
    position: relative;
}

.chak {
    position: relative;
    display: flex;
    flex-direction: column;
}

.history_Chak {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 200px;
}

button {
    color: unset;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darkgreen;
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

button:hover{
    border-bottom: 2px solid rgb(11, 37, 184);
    cursor:pointer;
}

p {
    margin: 10px;
}

span.tex_Chak {
    display: block;
}